# Python
__pycache__/
*.pyc
*.pyo
*.pyd
data_cache/*parquet
data_cache/*csv
data_cache/*json


# Virtual env
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem

# Logs
*.log


# --- Secrets ---
.env
*.env
